/* 360*740  768*1024  1024*1366 */
/* First mobil */
:root{
  --border-color-1:#68a;
}
* {margin: 0; padding: 0;}
body {margin: 0; padding: 0;}
form {
  /* min-width: 1vw; */
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: .33rem;
  flex-wrap: wrap;
  margin: 1rem;
  /* font-size: 10px; */
  box-sizing: border-box;
  border: 2px solid var(--border-color-1);
  border-radius: .25rem;
}
input {margin: 0 0 .25rem 0; width: 50%;}
.container-control{
  display: flex; flex-direction: column;
  margin: 2px; padding: 2px; border: 1px dashed #aaa;
}
label{margin: 2px 6px 2px 6px;}
@media screen and (max-width: 768px) {
  form {
    flex-direction: column;
    width: 92%;
    font-size: 20px;
  }
  input {
    margin: 0 6px 6px 6px;
    width: 150px;
  }
}
@media screen and (min-width: 1024px) {
  form {
    flex-direction: row;
    width: 1000px;
    font-size: 16px;
  }
  input {
    margin: 0 6px 6px 6px;
    width: 150px;
  }
}