/* 360*740  768*1024  1024*1366 */
/* First mobil */
:root{--color-1:rgba(102, 136, 170, .8); --color-2:#fff; --color-3:#eeefef;}
* {box-sizing: border-box; margin: 0; padding: 0;}
body {
    /* display: flex; */
    flex-direction: column;
    /* justify-content: space-between; */
    /* height: 100vh; */
    background-color: var(--color-3);
}

form {
  /* min-width: 1vw; */
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: .33rem;
  flex-wrap: wrap;
  margin: 1rem;
  /* font-size: 10px; */
  box-sizing: border-box;
  border: 2px solid var(--color-1);
  border-radius: .25rem;
  background-color: (102, 136, 170);
}
input {margin: 0 0 .25rem 0; width: 50%;}
.container-control{
  display: flex; flex-direction: column;
  margin: 2px; padding: 2px; border: 1px dashed #aaa;
}
label{margin: 2px 6px 2px 6px;}

@media screen and (min-width: 360px) {
  form {
    flex-direction: column;
    width: 92%;
    font-size: 20px;
  }
  input {
    margin: 0 6px 6px 6px;
    width: 150px;
  }
}
@media screen and (min-width: 768px) {
  form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    font-size: 1.1rem;
  }
  .container-control{
    width: 32%;
    display: flex;
    flex-direction: column;
  }
  input {
    margin: 0 6px 6px 6px;
    /* width: 30%; */
  }
}
@media screen and (min-width: 1024px) {
  form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 55%;
    font-size: 18px;
  }
    .container-control{
      width: 32%;
      display: flex;
      flex-direction: column;
    }
  }
  input {
    margin: 0 6px 6px 6px;
    width: 150px;
  }
  /* header{height: 50px;} */
  /* 360x740 * (Samsung Galaxy S-8+)*/
  /* .frame-1{width: 360px; height: 2px;
  background-color: var(--color-1);
  }
  .frame-2{height: 2px;
  background-color: var(--color-2);
  } */
}